body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
.profile{
     width: 250px;
    margin-bottom: 50px;
    border-radius: 50%;
} 
a:hover{
 font-size: 30px;
 color: chartreuse;
}
#Home {
     position: absolute;
    z-index: 9px;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background:linear-gradient(90deg, rgba(158,70,130,1) 0%, rgba(34,9,121,1) 34%, rgba(0,212,255,1) 100%);100%);
    display: table;
    width: 100%;
    height: 100%;
}
img{
    height: 300px;
    width: 300px;
}